body {
    line-height: 1.5;
    background: #f2f2f2;
    color: #323232;
}

img {
    max-width: 100%;
}

.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid lightgray;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
}

img.avatar {
    width: 130px;
}

.my-name {
    font-size: 40px;
    line-height: 1;
}

.my-title {
    font-size: 24px;
    font-weight: 300;
    color: #236fb2;
}

.job, .education {
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.job-title-container, .education-title-container {
    margin-bottom: 20px;
    font-size: 15px;
}

.job-company, .education-uni {
    font-weight: bold;
    line-height: 1.2;
}

